.rail-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.rail {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rail-row,
.rail {
  transition: 200ms all;
}

.rail-tile {
  border: dashed 2px black;
  width: 100px;
  height: 100px;
  margin: 20px;
  flex-shrink: 0;
  transition: transform 200ms;
}

.rail-tile.active {
  background-color: black;
  transform: scale(1.1);
}
