body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.root-container {
  height: 100vh;
}

.row-container {
  flex-grow: 0 !important;
}

.nav {
  max-width: 240px;
}

.nav-item {
  border: 2px solid blue;
  margin: 20px;
}

.nav-item.active {
  background-color: blue;
}

.item {
  border: dashed 2px black;
  width: 100px;
  height: 100px;
  margin: 20px;
  transition: transform 200ms;
}

.item.active {
  background-color: black;
  transform: scale(1.1);
}

/* required */

.focusable {
  display: flex;
  flex: 1;
}

.focusable.col {
  flex-direction: column;
}

.focusable.row {
  flex-direction: row;
}
