.focusable {
  display: flex;
  margin: 6px;
  flex: 1;
  padding: 6px;
  border: dashed 2px orange;
}

.focusable.active {
  border-color: black !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.focusable > .focusable {
  border-color: red;
}

.focusable > .focusable > .focusable {
  border-color: green;
}

.focusable > .focusable > .focusable > .focusable {
  border-color: pink;
}

.focusable > .focusable > .focusable > .focusable > .focusable {
  border-color: yellow;
}

.focusable > .focusable > .focusable > .focusable > .focusable > .focusable {
  border-color: blue;
}

